<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head.ejs') %>
  <body>
    <%- include ('./partials/header.ejs') %>
    <main>
      <a href="/"><p class="page-link">Go to homepage</p></a>
      <form class="new-msg" method="POST" action="/new">
        <div>
          <label for="author">Author:</label>
          <input type="text" name="author" id="author" required />
        </div>
        <div>
          <label for="msg">Message:</label>
          <input type="text" name="msg" id="msg" required />
        </div>
        <button class="form-submit">Submit</button>
      </form>
    </main>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
