body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}
body {
  display: grid;
  grid-template-rows: 50px auto 50px;
}

a {
  color: #00b7ff;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00b7ff;
  border-bottom: 3px solid black;
}
header h1 {
  font-size: 1.75em;
}
h1,
h2,
h3 {
  margin: 0;
}
main {
  padding: 20px;
}
.page-link {
  font-weight: 600;
}
.msg-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.msg {
  border: 2px solid #00b7ff;
  border-radius: 15px;
  padding: 10px;
  max-width: 600px;
}

.user {
  color: #00b7ff;
  font-weight: 900;
}

.text {
  font-weight: 600;
  font-style: italic;
}
.date {
  color: #007a74;
}
.no-msg {
  color: #00b7ff;
}

.new-msg {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  border: 2px solid #00b7ff;
  border-radius: 15px;
  padding: 15px;
}

.new-msg div {
  display: grid;
  grid-template-columns: 100px auto;
  font-weight: 600;
}

.form-submit {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  height: 30px;
}
.form-submit:hover {
  background-color: #00b7ff;
  cursor: pointer;
}
input {
  min-width: 50px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #00b7ff;
  border-top: 3px solid black;
  font-weight: 600;
}
.github {
  height: 25px;
  width: 25px;
}

.github:hover {
  transform: scale(1.2);
}
